<!-- Seção de filtragem de parâmetros -->
<div class="m-5">
  <h2>Filters</h2>
  <div class="d-flex justify-content-center">
    <div class="ms-2 me-2">
      <h5>Regions</h5>
      <input type="text">
    </div>
    <div class="ms-2 me-2">
      <h5>Species</h5>
      <input type="text">
    </div>
    <div class="ms-2 me-2">
      <h5>Conservation Status</h5>
      <input type="text">
    </div>
    <div class="ms-2 me-2">
      <h5>Water Temperature</h5>
      <input type="number">
    </div>
    <div class="ms-2 me-2">
      <h5>pH</h5>
      <input type="number">
    </div>
    <div class="ms-2 me-2">
      <h5>Polution Levels</h5>
      <input type="text">
    </div>

  </div>
</div>
