<!-- Seção de filtragem de parâmetros -->
<div class="container mt-3 ms-5 me-5">
  <h2 class="ms-5">Filters</h2>
  <form [formGroup]="filtersForm" class="d-flex flex-wrap justify-content-center ms-5">
    <div class="me-2 col">
      <h5>Regions</h5>
      <select class="form-select form-select-sm" placeholder="Search" autocomplete="off" name="regions" id="1">
        <option value="" disabled selected>All</option>
        <option value="Índico">Índico</option>
        <option value="Atlântico Norte">Atlântico Norte</option>
        <option value="Atlântico Sul">Atlântico Sul</option>
        <option value="Pacífico Norte">Pacífico Norte</option>
        <option value="Pacífico Sul">Pacífico Sul</option>
        <option value="Antártico">Antártico</option>
      </select>
    </div>
    <div class="ms-2 me-2">
      <h5>Species</h5>
      <select class="form-select form-select-sm" name="species" id="2">
        <option value="" disabled selected>All</option>
        <option *ngFor="let ocean of oceanDatas" value="{{ocean.especies[0].nome}}">{{ocean.especies[0].nome}}</option>
      </select>
    </div>
    <div class=" ms-2 me-2">
      <h5>Conservation Status</h5>
      <input class="form-control form-control-sm" type="text">
    </div>
    <div class="ms-2 me-2">
      <h5>Water Temperature</h5>
      <input class="form-control form-control-sm" type="number" min="0" max="50">
    </div>
    <div class="ms-2 me-2">
      <h5>pH</h5>
      <input class="form-control form-control-sm" type="number" min="0" max="14">
    </div>
    <div class="ms-2">
      <h5>Polution Level</h5>
      <input class="form-control form-control-sm" type="text">
    </div>
  </form>
  <button class="ms-5 mt-3 btn btn-primary fs-5" type="submit" (click)="obterDados()">Search</button>
</div>

<!-- Tabela de exibição -->
<div class="container mt-3">
  <h2 class="py-2">Data Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Region</th>
        <th>Water Temperature</th>
        <th>pH</th>
        <th>Polution Level</th>
        <th>Species Name</th>
        <th>Species Status</th>
        <th>Project Name</th>
        <th>Project Type</th>
        <th>Participation Type</th>
      </tr>
    </thead>
    <tbody *ngFor="let ocean of oceanDatas" class="p-2">
      <tr *ngIf="ocean.regiao == listaDados[contador]">
        <td class="py-3">{{ocean.regiao}}</td>
        <td class="py-3">{{ocean.temperaturaAgua}}</td>
        <td class="py-3">{{ocean.pH}}</td>
        <td class="py-3">{{ocean.nivelPoluicao}}</td>
        <td class="py-3">
          <p *ngFor="let especie of ocean.especies">{{especie.nome}}</p>
        </td>
        <td class="py-3">
          <p *ngFor="let especie of ocean.especies">{{especie.status}}</p>
        </td>
        <td class="py-3">
          <p *ngFor="let projeto of ocean.projetosConservacao">{{projeto.nomeProjeto}}</p>
        </td>
        <td class="py-3">
          <p *ngFor="let projeto of ocean.projetosConservacao">{{projeto.tipoProjeto}}</p>
        </td>
        <td class="py-3">
          <p *ngFor="let projeto of ocean.projetosConservacao">{{projeto.tipoParticipacao}}</p>
        </td>

      </tr>
    </tbody>
  </table>
</div>
